[viewBag]
==
{% set posts = __SELF__.posts %}
<div class="am-u-lg-7 am-u-sm-12">
                <ul class="am-list i-am-list news-list">
                    {% for post in posts %}
<li class="am-cf">
                        <a href="{{ post.url }}" title='{{ post.title }}'>{{ post.title }}
                            <span class='am-text-right am-fr date'>{{ post.published_at|date('Y/m/d') }}</span>
                        </a>                        
                        <p class=" text-indent">{{ post.summary|raw }}</p>
                        <span class="border-2-dashed"></span>
                    </li>
{% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
{% endfor %}
                </ul>
            </div>
            <div class="am-u-lg-4 am-u-sm-12">
            {% if posts[0].featured_images.count %}
                <p>
                    <img src="{{ posts[0].featured_images[0].path }}" style='max-width:100%'>
                </p>
            {% else %}
             <p>
                    <img src="/themes/hd/assets/images/placeholder.gif" style='max-width:100%'>
                </p>
            {% endif %}
            </div>